@model BibliotheekApp.Models.Auteur

<h2>Voeg Auteur Toe</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Naam">Naam</label>
        <input type="text" asp-for="Naam" class="form-control" />
        <span asp-validation-for="Naam" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="GeboorteDatum">Geboorte Datum</label>
        <input type="date" asp-for="GeboorteDatum" class="form-control" />
        <span asp-validation-for="GeboorteDatum" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Voeg Auteur Toe</button>
</form>

<a href="@Url.Action("Index", "Auteur")" class="btn btn-secondary">Terug naar Auteurslijst</a>


