@{
    ViewData["Title"] = "Home";
}

<h2>Welkom bij de Bibliotheek!</h2>

<div>
    <a href="@Url.Action("BoekenLijst")" class="btn btn-primary">Bekijk Boeken</a>
    <a href="@Url.Action("AuteursLijst")" class="btn btn-primary">Bekijk Auteurs</a>
    <a href="@Url.Action("VoegBoekToe")" class="btn btn-secondary">Voeg Boek Toe</a>
    <a href="@Url.Action("VoegAuteurToe")" class="btn btn-secondary">Voeg Auteur Toe</a>
</div>
