@model BibliotheekApp.Models.Boek

@{
    ViewData["Title"] = "Verwijderen";
}

<h1>Bevestig Verwijderen</h1>

<div class="alert alert-warning" role="alert">
    Weet je zeker dat je het boek "<strong>@Model.Titel</strong>" wilt verwijderen?
</div>

<form asp-action="DeleteConfirmed" asp-route-id="@Model.ISBN" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" value="@Model.ISBN" />
    <button type="submit" class="btn btn-danger">Bevestigen</button>
    <a asp-action="Index" class="btn btn-secondary">Annuleren</a>
</form>

